<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <div id="bg">
    <div id="left">
      <div id="ovrlay">
        <div id="midovr">
          <div class="icons">
            <i class="ri-search-line"></i>
            <h5>Follow your interests</h5>
          </div>
          <div class="icons">
            <i class="ri-user-fill"></i>
            <h5>Hear what people are talking about.</h5>
          </div>
          <div class="icons">
            <i class="ri-chat-1-line"></i>
            <h5>Join the conversation.</h5>
          </div>
        </div>
      </div>
    </div>
    <div id="right">
      <div id="panel">
        <img src="../images/twitter-fill.svg" alt="">
        <h5>See what’s happening in <br> the world right now</h5>
        <p>Login to Twitter</p>
        <form action="#" method="POST">
          <input type="username" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="submit" value="LogIn">
          <p>New User? <a href="/">SignUp</a></p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>